  .header {
    padding: 24px 0;
    border-bottom: 1px solid #ececec;
    position: relative;
  
    & .container {
        display: flex;
        justify-content: space-between;
      }
}
  .nav {
    margin-right: auto;
    display: flex;
  }
  

