.header{
    & .logo {
        color: #000000;
        font-family: $fontTextLogo;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.193;
        letter-spacing: 0.03em;
      
        text-decoration: none;
        display: flex;

        margin-right: 93px;
      }
}
 .footer {

    & .logo {
        display: flex;
        color: #ffffff;
        font-family: $fontTextLogo;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.193;
        letter-spacing: 0.03em;
        
        text-decoration: none;
        margin-right: 0;

        @media screen and(max-width:1199px) {
          justify-content: center;
        }
 }
} 

.logo-web {
    color:$secondaryColor;
  }