.menu-burger.is-menu-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-burger.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  @media screen and (min-width:767px){
      .header{
          & .burger-menu{
              display: none;
          }
      }
  }

  .menu-burger{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 480px;
    height: 102vh;
    background-color: $bacgroundColor;
    padding: 48px 40px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    overflow: scroll;
    z-index: 100;
    transform: translateY(0%) translateX(-50%);
    transition: opacity 500ms $cubik;

    @media screen and(min-width:768px) {
        display: none;
    }
  }
 
  .list-menu{
      margin-bottom: 200px;
  }
  .list-menu-item:not(:last-child){
    margin-bottom: 36px;
  }

  .list-menu-link{
        text-decoration: none;
        font-size: 40px;
        color: $titleTextColor;
        font-family: $fontTextTitle;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;

        &:focus{
            color: $secondaryColor;
        }
  }

.list-contact{
    margin-bottom: 64px;

  & .list-contact-item{
      &:not(:last-child){
          margin-bottom: 32px;
      }
    & .list-contact-phone{
        font-family: $fontTextTitle;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;;
        letter-spacing: 0.02em;
        color: $secondaryColor;
        text-decoration: none;
    }
    & .list-contact-mail{
        font-family: $fontTextTitle;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $paragraphColor;
        text-decoration: none;
    }
}
}


.social-menu-list{
    display: flex; 
    flex-wrap: wrap;
    & .social-menu-item{
        & .social-menu-link{
            text-decoration: none;
            color: $secondaryColor;
            font-family: $fontTextTitle;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.222px;

            letter-spacing: 0.02em;
    }
        &:not(:first-child){
            padding-left: 10px;
        }
        &:not(:last-child){
            padding-right: 10px;
            border-right: 1px solid $secondaryColor;
        }
    }
}

