    $fontTextTitle: 'Roboto', sans-serif;
    $fontTextLogo: 'Raleway', sans-serif;
  
    $primaryTextColor: rgba(255, 255, 255, 0.6);
    $titleTextColor: #212121;
    $secondaryColor: #2196f3;
    $paragraphColor: #757575;
    $bacgroundColor: #ffffff;
  
  
    $cubik: cubic-bezier(0.4, 0, 0.2, 1);
    $gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  